<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 0px;" class="mg-room-cls-table ">
  <% count=-1 %>
  <% @subjects.each do |f|%>
    <% @id = f.id%>    
    <%if f.is_lab==true%>
      <%# @mg_room_id =MgInstituteRoom.where(:mg_employee_specialization_id=>f.mg_employee_specialization_id,:mg_room_type=>"practical",:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]).pluck(:room_no,:id) %>
      <% @mg_room =MgInstituteRoom.where(:id=>f.mg_institute_room_id).pluck(:room_no,:id)%>
      <% @mg_room_id =MgInstituteRoom.where(:id=>f.mg_institute_room_id).pluck(:id)%>
      <tr class="mg-timetable-tr-border-nil mg-employee-cls-row" style="height: 55px;">
        <td class="mg-timetable-td-padding-nil" style="padding: 0px; border: 0px;">
        <%=select_tag 'elective_rooms_ids[]', options_for_select(@mg_room,:selected=>@mg_room_id),:prompt=>t('select'),:class=>"mg-inside-tbl-width",:disabled => true%>  
        <%=hidden_field_tag 'elective_room_id[]',@mg_room_id%>
        </td>
      </tr>

    <%else%>
    <%count=count+1%>
      <%@mg_room_id =MgInstituteRoom.where(:mg_employee_specialization_id=>f.mg_employee_specialization_id,:mg_room_type=>"theory",:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]).pluck(:id) %>
      <% array = []%>
      <%if @mg_room_id.present? %>
        <% for i in 0...@mg_room_id.size %>           
          <% @time_table_entry=MgTimeTableEntry.where(:mg_institute_room_id=>@mg_room_id[i],:mg_class_timings_id=>@mg_class_timings_id, :mg_weekday_id=>@weekday_id_list, :is_deleted=>0, :mg_timetable_id=>@mg_time_table_id,:mg_school_id=>session[:current_user_school_id]) %>

          <%if !@time_table_entry.present? %>
            <% array.push(@mg_room_id[i]) %>            
          <%end%>          
        <%end%>
      <%end%>
      <% @array_id= array  %>
      <tr class="mg-timetable-tr-border-nil mg-employee-cls-row" style="height: 55px;">
        <td class="mg-timetable-td-padding-nil mg-room-cls" style="padding: 0px; border: 0px;">
          <% @mg_rooms = MgInstituteRoom.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]).where("id IN(?)",@array_id).pluck(:room_no,:id) %>
          <%=select_tag 'elective_room_id[]', options_for_select(@mg_rooms),:prompt=>t('select'),:onchange=>"subjectRoomsFunction(this.value,this,#{count})",:class=>"mg-inside-tbl-width eroom room-cls#{count}"%>  
        </td>
      </tr>  
  <%end%>  
  <% end %>
</table>  


<script>

  function subjectRoomsFunction(eid,that,count){    
   
    var arr=[];
    $(that).parents(".mg-room-cls-table").find(".mg-room-cls").children(".eroom").each(function(){
        var a=$(this).val();   
        arr.push(a);
      }); 
    
    for(var i=0;i<arr.length;i++)
    {
      if(i!=count){
        if(arr[i]==eid){
          console.log($(that).parents(".mg-room-cls").children(".room-cls"+count));
          alert("Room Already selected please select other");          
          $(that).parents(".mg-room-cls-table").find(".mg-room-cls").children(".room-cls"+count).val('');
          return false;           
        }        
      }
    }  
  }
</script>